

<!-- ΤΟ ΠΑΡΟΝ ΚΑΛΕΙΤΑΙ ΑΠΌ ΤΟ for-directive-component.ts -->
<!--  ΚΑΙ ΑΠΟ ΤΟ component-input-example.ts & template-driven-form-example -->
<!--  (ΔΕΣ ΤΟ import ΣΤΟ @Component) -->
<!--  ΔΕΝ ΚΑΛΕΙΤΑΙ ΑΠ'ΕΥΘΕΙΑΣ ΑΛΛΑ ΧΡΗΣΙΜΕΎΕΙ ΣΤΑ ΔΥΟ ΠΑΡΑΠΑΝΩ -->
<!--  ΤΑ data ΔΕΝ ΕΊΝΑΙ ΕΔΩ ΑΛΛΑ ΕΊΝΑΙ ΣΤΑ ΔΥΟ ΠΑΡΑΠΑΝΩ, ΕΔΩ ΕΙΝΑΙ Η ΜΟΡΦΗ ΤΩΝ DATA -->


<!-- το παρακάτω το κάνουμε με κώδικα, αν δεν ήμασταν στην angular θα έπρεπε να το κάνουμε με την class hidden (οπως έχουμε δει -> μια την εμφανίζουμε και μία την κρύβουμε ) -->
@if(!person) {  
  <div class="alert alert-danger text-center">
    No person details!
  </div>
} @else {
  <table class="table table-bordered">
    <caption class="caption-top fw-bold bg-primary text-light text-center">
      Person Details
    </caption>
    <tr>
      <td class="fw-semibold text-end">First Name</td>
      <td class="ps-2">{{ person.givenName }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Last Name</td>
      <td class="ps-2">{{ person.surName }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Age</td>
      <td class="ps-2">{{ person.age }}</td>
    </tr>
    <tr>
      <td class="fw-semibold text-end">Email</td>
      <td class="ps-2">{{ person.email }}</td>
    </tr>
    @if(isPerson()) {
      <tr>
        <td class="fw-semibold text-end">Address</td>
        <td class="ps-2">{{ person["address"] }}</td>
      </tr>
    }
    @if(isEPerson()) {
      <tr>
        <td class="fw-semibold text-end">Education</td>
        <td class="ps-2">{{ person["education"] }}</td>
      </tr>
    }
  </table>
}

 
<!-- // ΤΟ ΠΑΡΟΝ ΚΑΛΕΙΤΑΙ ΑΠΌ ΤΟ for-directive-component.ts // -->
<!-- // ΚΑΙ ΑΠΟ ΤΟ component-input-example.ts & template-driven-form-example-->
<!-- // (ΔΕΣ ΤΟ import ΣΤΟ @Component) -->
<!-- // ΔΕΝ ΚΑΛΕΙΤΑΙ ΑΠ'ΕΥΘΕΙΑΣ ΑΛΛΑ ΧΡΗΣΙΜΕΎΕΙ ΣΤΑ ΔΥΟ ΠΑΡΑΠΑΝΩ -->
<!-- // ΤΑ data ΔΕΝ ΕΊΝΑΙ ΕΔΩ ΑΛΛΑ ΕΊΝΑΙ ΣΤΑ ΔΥΟ ΠΑΡΑΠΑΝΩ, ΕΔΩ ΕΙΝΑΙ Η ΜΟΡΦΗ ΤΩΝ DATA -->

<!-- //  ΤΟ ΤΡΕΧΟΥΜΕ ΜΕ ng serve ΣΤΟ TERMINAL, ΟΝΤΑΣ ΣΤΟΝ ΦΑΚΕΛΟ ΤΟΥ PROJECT
// ΠΗΓΑΙΝΩ ΣΤΟΝ BROWSER: http://localhost:4200/  -->