
<!-- φτιαγμένο με ReactiveFormsModule, είναι ίδια με την eperson-template-driven-example που όμως είναι φτιαγμένη με FormsModule -->

<!-- τα παρακάτω είναι Material Design (του Angular): όλα όσα ξεκινούν με mat-->
<!-- το formGroup και ό,τι ξεκινάει με form είναι ReactiveFormsModule (του Angular, και είναι άσχετο με το material design) -->

<div class="d-flex flex-column">
  <h5>Eperson-reactive-form:</h5>
  <h5>New Person Form</h5>
  <!-- το "form" είναι ένα όνομα που το δίνουμε εμείς, θα μπορούσαμε να το πούμε vagelis, το form το έχουμε δηλώσει στο .ts του παρόντος -->
  <!-- [formGroup] Tracks the FormGroup bound to this directive-->
  <form [formGroup]="form" class="d-flex flex-column">
    <mat-form-field>
      <mat-label> First Name </mat-label>
      <input matInput type="text" formControlName="givenName" />
      @if (form.get("givenName").invalid && form.get("givenName").touched) {
        <mat-error> First Name is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Last Name </mat-label>
      <input matInput type="text" formControlName="surName" />
      @if (form.get("surName").invalid && form.get("surName").touched) {
        <mat-error> Last Name is required </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Age </mat-label>
      <input matInput type="text" formControlName="age" />
      @if (form.get("age").invalid && form.get("age").touched) {
        <mat-error> Age is missing or invalid </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label> Email </mat-label>
      <input matInput type="text" formControlName="email" />
      @if (form.get("email").invalid && form.get("email").touched) {
        <mat-error> Email is missing or invalid </mat-error>
      }
    </mat-form-field>
    <mat-form-field>
      <mat-label>Education</mat-label>
      <mat-select type="text" formControlName="education">
        <mat-option value="Some college, no degree"
          >Some college, no degree</mat-option
        >
        <mat-option value="Master’s degree">Master’s degree</mat-option>
        <mat-option value="Bachelor’s degree">Bachelor’s degree</mat-option>
        <mat-option value="Associate’s degree">Associate’s degree</mat-option>
        <mat-option value="High school diploma or equivalent"
          >High school diploma or equivalent</mat-option
        >
        <mat-option value="No formal education">No formal education</mat-option>
      </mat-select>
    </mat-form-field>
  </form>
  <button
    mat-flat-button
    color="primary"
    [disabled]="form.invalid"
    (click)="onSubmit(form.value)">
  <!-- "form.invalid" = όταν αποτυγχάνει κάποιος validator από αυτούς που έχουμε βάλει -->
    Submit
  </button>
</div>

<!-- φτιαγμένο με ReactiveFormsModule, είναι ίδια με την eperson-template-driven-example που όμως είναι φτιαγμένη με FormsModule -->
