<h4>Template Driven Form Example</h4>

<div class="d-flex gap-d">
  <app-eperson-template-driven-form (person)="onPerson($event)">
    <!-- το $event περνάει με τα data --> 
  </app-eperson-template-driven-form>

  <div class="d-flex flex-column gap-4">
    <app-person-table [person]="currentPerson"></app-person-table>
    <app-simple-datatable [data]="persons"></app-simple-datatable>
  </div>
</div>

<!-- ακριβώς ίδια είναι η reactive-form-example μόνο πως στο πρώτο div έχει το app-eperson-reactive-form αντί για το app-eperson-template-driven-form που έχουμε εδώ, Η ΔΙΑΦΟΡΑ ΤΟΥΣ ΕΙΝΑΙ ότι το -reactive- είναι φτιαγμένο με ReactiveFormsModule ενώ το παρόν είναι με FormsModule, ενώ και τα δύο είναι με Material design -->








