<h4>Compenent Output Example</h4>

<app-simple-datatable 
  [data]="manyPerson"
  (personClicked)="onPersonClicked($event)"
></app-simple-datatable>

<!-- Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding, template in angular is HTML -->

<!-- {{}} declares a template input variable (είναι μία μεταβλητή που έχει μία τιμή και μας έρχεται από κάπου αλλού, εκτός του παρόντος html (μας έρχεται από το .ts αρχείο του παρόντος, τουλάχιστον αυτό έχουμε κάνει στο μάθημα)) -->