<h4>{{ "@for" }} Directive Example</h4>
 
  <div class="d-flex flex-wrap text-nowrap gap-2">
    <!-- στο for-directive-component.ts το έχουμε ονομάσει users (= data): -->
    @for (user of users; track user) {
      <!-- το παρακάτω είναι το person-table-component: -->
      <app-person-table [person]="user"></app-person-table>
    }
</div>

<!-- Angular has a different expression syntax, focusing on "[ ]" for property binding, and "( )" for event binding -->

<!-- {{}} declares a template input variable (είναι μία μεταβλητή που έχει μία τιμή και μας έρχεται από κάπου αλλού, εκτός του παρόντος html (μας έρχεται από το .ts αρχείο του παρόντος, τουλάχιστον αυτό έχουμε κάνει στο μάθημα)) -->
